<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ijos.daltonicapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        
        <activity 	android:name=".SplashScreen"
            		android:label="@string/app_name"
            		android:screenOrientation="portrait">
            		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 	android:name=".Menu"
            		android:label="@string/app_name"
            		android:screenOrientation="portrait">
        </activity>
        
        <activity 	android:name=".Creditos"
            		android:label="@string/app_name"
            		android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="es.ijos.daltonicapp.OpenCVMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
            
            
        </activity>
        
    </application>
    
    
     <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

</manifest>
